/* General settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.relative {
    position: relative;
}

